<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697959762788-bihkao48mo54olc5mkkl6f2odr3k0l2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697959762788-bihkao48mo54olc5mkkl6f2odr3k0l2r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>697959762788-2osui5gb3v33dbeb9ifisid46tlmc8rl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhk9C3YHbExXJGFBpS2uRKFZ3znFq1W_I</string>
	<key>GCM_SENDER_ID</key>
	<string>697959762788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upercart.driver</string>
	<key>PROJECT_ID</key>
	<string>upercart-fd922</string>
	<key>STORAGE_BUCKET</key>
	<string>upercart-fd922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697959762788:ios:e3c60c7d92373ea1230871</string>
	<key>DATABASE_URL</key>
	<string>https://upercart-fd922-default-rtdb.firebaseio.com</string>
</dict>
</plist>